
/*! suit-test v"0.2.1 | MIT License | github.com/suitcss */
.Test {
  counter-reset: test-describe;
}
.Test-title {
  padding: 20px;
  margin: 20px 0;
  color: #999;
  font-size: 2em;
  font-family: sans-serif;
  background-color: #eee;
}
.Test-describe,
.Test-it {
  border-left: 5px solid #666;
  margin: 20px 0;
  padding: 0.75em 20px;
  color: #666;
  font-weight: 400;
  font-family: sans-serif;
  background-color: #eee;
}
.Test-describe {
  counter-reset: test-it;

  margin: 60px 0 20px;
  font-weight: 700;
  font-size: 1.5em;
}
.Test-describe:before,
.Test-it:before {
  display: inline-block;
  margin: 0 10px 0 0;
  min-width: 30px;
  color: #999;
  text-transform: uppercase;
}
.Test-describe:before {
  counter-increment: test-describe;

  content: counter(test-describe);
}
.Test-it:before {
  counter-increment: test-it;

  content: counter(test-describe) "." counter(test-it);
}



/* @component Navigations */
.nav-list {
  margin: 0;
  padding: 0;
}
.nav-list > li {
  display: block;
}
.nav-list--inline {
  white-space: nowrap;
}
.nav-list--inline > li {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
}
.nav-list--separate {
  white-space: nowrap;
}
.nav-list--separate > li {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
}
.nav-list--separate > li::after {
  content: "\0A0-\0A0";
}
.nav-list--separate > li:last-child::after {
  content: normal;
}
.nav-list--fill {
  display: table;
  width: 100%;
}
.nav-list--fill > li {
  display: table-cell;
  text-align: center;
}
.nav-list--stack > li > a {
  display: block;
}
