
/*
 * @html
 *
 * Homogénéisation de l'apparence des éléments HTML
 * ===
 *
 * …
 *
 * ## Ressources
 *
 * - http://www.w3.org/TR/CSS2/sample.html
 * - http://www.w3.org/TR/html5/rendering.html
 * - http://www.whatwg.org/specs/web-apps/current-work/multipage/rendering.html#the-css-user-agent-style-sheet-and-presentational-hints
 * - http://mxr.mozilla.org/mozilla-release/source/layout/style/forms.css
 *   (ou resource://gre-resources/forms.css)
 * - http://trac.webkit.org/browser/trunk/Source/WebCore/css/html.css
 * - https://github.com/necolas/normalize.css/blob/master/normalize.css
 */



/*
 * 1. Uniformise le style de la bordure.
 *    - IE<=11 : `{ border: 1px solid; }`.
 * 2. Hérite de la valeur calculée de la propriété CSS color.
 *    cf. : http://www.sitepoint.com/12-little-known-css-facts/#the-color-property-isnt-just-for-text
 * 3. Uniformise les marges intérieures.
 *    - IE<=11 : `{ padding: 3px 3px 4px; }`.
 *    cf. :
 *    - https://connect.microsoft.com/IE/feedback/details/816709/
 *    - https://github.com/guardian/guss-typography/blob/master/_typography.mixins.scss#L16-L18
 */
fieldset {
  border: 2px groove; /* 1 */
  border-color: inherit; /* 2 */
  padding: .35em .625em .75em; /* 3 */
  padding: .35em calc(1em * .625) .75em; /* 3 */
}

/*
 * 1. Aide IE<=10 à ajouter automatiquement des ruptures de lignes.
 * 2. Uniformise les marges intérieures.
 * 3. Permet à IE<=11 d'hériter correctement de la valeur calculée de la propriété CSS color.
 */
legend {
  display: table; /* 1 */
  padding: 0 2px; /* 2 */
  color: inherit; /* 3 */
  white-space: normal; /* 1 */
}

/*
 * 1. Supprime les marges extérieures par défaut des éléments.
 */
button,
input,
select,
textarea {
  margin: 0; /* 1 */
}

/*
 * 1. Homogénéise la propriété CSS `overflow`.
 *    - IE<=11 : `{ overflow: hidden; }`.
 */
button {
  overflow: visible; /* 1 */
}

/*
 * 1. Déshérite les éléments HTML `<button>` et `<select>` de la casse du texte
 *    de leur parent.
 *    Fonctionnement par défaut pour tous les autres éléments d'un formulaire.
 *    - `<button>` : IE<=11, Fx, Opera.
 *    - `<select>` : Fx.
 */
button,
select {
  text-transform: none; /* 1 */
}

/*
 * 1. Cache la barre de défilement quand cela n'est pas nécessaire.
 *    - IE<=11 : `{ overflow: scroll; }`.
 */
textarea {
  overflow: auto; /* 1 */
}

/*
 * 1. Retire la fine bordure pointillée autours de la zone de contenu du bouton
 *    lorsque celui-ci reçoit le focus.
 * 2. Retire les marges intérieures ajotuées par Firefox
 *    pour des questions d'accessibilité.
 *
 * cf. : https://developer.mozilla.org/fr/docs/Web/HTML/Element/Button#Notes (dernier paragraphe)
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0 !important; /* 1 */
  padding: 0 !important; /* 2 */
}

/*
 * 1. Uniformise le modèle de boîte CSS.
 *    - IE 8/9/10 : `{ box-sizing: content-box; }`.
 * 2. Supprime les marges intérieures appliquées par défaut dans IE 8/9/10.
 */
input[type=radio],
input[type=checkbox] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/*
 * 1. Hérite de la couleur de texte de l'élément HTML
 *    sur lequel le texte indicatif est applqiué.
 *    - Chrome, Safari : `{ color: darkGray; }`.
 * 2. Uniformise l'opacité du texte indicatif.
 */
::-webkit-input-placeholder {
  color: inherit; /* 1 */
  opacity: .54; /* 2 */
}
::-moz-placeholder {
  color: inherit; /* 1 */
  opacity: .54; /* 2 */
}
:-ms-input-placeholder {
  color: inherit; /* 1 */
  opacity: .54; /* 2 */
}
