
/*! suitcss-components-test v0.2.1 | MIT License | github.com/suitcss */
.Test {
  counter-reset: test-describe;
}
.Test-title {
  padding: 20px;
  margin: 20px 0;
  color: #999;
  font-size: 2em;
  font-family: sans-serif;
  background-color: #eee;
}
.Test-describe,
.Test-it {
  border-left: 5px solid #666;
  margin: 20px 0;
  padding: 0.75em 20px;
  color: #666;
  font-weight: 400;
  font-family: sans-serif;
  background-color: #eee;
}
.Test-describe {
  counter-reset: test-it;

  margin: 60px 0 20px;
  font-weight: 700;
  font-size: 1.5em;
}
.Test-describe:before,
.Test-it:before {
  display: inline-block;
  margin: 0 10px 0 0;
  min-width: 30px;
  color: #999;
  text-transform: uppercase;
}
.Test-describe:before {
  counter-increment: test-describe;

  content: counter(test-describe);
}
.Test-it:before {
  counter-increment: test-it;

  content: counter(test-describe) "." counter(test-it);
}



/*! bichoco-forms | MIT License | github.com/7studio/bichoco */
fieldset {
  border: 2px groove;
  border-color: inherit;
  padding: .35em .625em .75em;
  padding: .35em calc(1em * .625) .75em;
}
legend {
  display: table;
  padding: 0 2px;
  color: inherit;
  white-space: normal;
}
label[for] {
  cursor: pointer;
}
button,
input,
select,
textarea {
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
textarea {
  overflow: auto;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0 !important;
  padding: 0 !important;
}
input[type=radio],
input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}
::-moz-placeholder {
  color: inherit;
  opacity: .54;
}
:-ms-input-placeholder {
  color: inherit;
  opacity: .54;
}
